/* Main menu Large */

/* wallpaper bg */
.backImg { 
   opacity: 0.7;
    width: 100%;
    max-width: -webkit-fill-available;
    height: 100%;
    position: absolute;
    z-index: -99;
    transition: opacity 2s ease-in-out;
}


/* Yes or No popup */
header {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    
}

.loadingText {
    color: red;
}

.yesBtn {
    background-color: rgb(41, 197, 38);
    color: white;
    font-size: xx-large;
    width: 75px;
    height: 75px;
    border-radius: 18px;
}

.noBtn {
    background-color: #840419;
    color: white;
    font-size: xx-large;
    width: 75px;
    height: 75px;
    border-radius: 18px;
}

.refreshBtn {
    background-color: #110484;
    color: white;
    font-size: xx-large;
    width: 130px;
    height: 75px;
    border-radius: 18px;

}

strong {
    color: #840419b3;
    animation: letterR 5s ease-in-out 0s infinite normal none;
}

@keyframes letterR {
  0%,
  50%,
  100% {
	opacity: 1;
  }

  25%,
  75% {
	opacity: 0;
  }
}

.gameTitle {
    font-size: 400px;
    font-family: "Kode Mono", monospace;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(203, 115, 130, 0.539);
    color: rgba(255, 192, 203, 0.539);
    
}

.mainButton {
    border: 4px solid #cb738289;
    width: 60px;
    height: 60px;
    background-color: #ffc0cb89;
    color: #600817be;
    border-radius: 16px;
    &:hover {
        background-color: rgba(240, 128, 128, 0.555);
        color: white;
    }
}


/* After clicking "start" button */

.blackBarTop {
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    opacity: 0;
    animation: slideTop 5s forwards;
}

.blackBarBottom {
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    opacity: 0;
    animation: slideBottom 5s forwards;
}

@keyframes slideTop {
    100% {border-block: 50px solid black; opacity: 1;}
}

@keyframes slideBottom {
    100% {border-block: 72px solid black; opacity: 1;}
}

.textAge {
    font-size: 75px;
    margin-top: 250px;
    color: blue;
}

/* small section */
@media only screen and (max-width: 575px) {
 .backSmImg {
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
 }

.loadingText {
    font-size: 30px;
    margin-top: 30px;
    color: red;
}

.textAge {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: blue;
}

 .smallTitle {
    background-color: black;
    height: 736px;
 }

header {
    background-color: black;
    position: fixed;
    z-index: 1;
    height: 100%;
    max-height: -webkit-fill-available;
   
    
}

.gameTitle {
    font-size: 150px;
}

.mainMenu {
    text-align: center;
}

.mainButton {
    position: relative;
}

}
