/* #region Animations */
@keyframes letterR {
  0%,
  50%,
  100% {
  opacity: 1;
  }

  25%,
  75% {
  opacity: 0;
  }
}

@keyframes slideTop {
    100% {border-block: 50px solid black; opacity: 1;}
}

@keyframes slideBottom {
    100% {border-block: 72px solid black; opacity: 1;}
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes scrollText {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

@keyframes announcerSlide {
  0% {
    transform: translateX(-900px);
}

100% {
    transform: translateX(50px);
}
}

@keyframes enemySlide {
0% {
  transform: translateX(750px);
  }

  100% {
  transform: translateX(0px);
  }
}

@keyframes nextText {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  
  25%,
  75% {
    opacity: 0;
  }
}

/* #endregion */

/* #region BACKGROUNDS */
.flowerImg { 
  width: 100%;
  max-width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  z-index: -97;
  opacity: 1;
}

.bubbleImg {
  width: 100%;
  max-width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  z-index: -99;
}

.spaceImg {
  width: 100%;
  max-width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  z-index: -100;
}

.blossomImg {
  width: 100%;
  max-width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  z-index: -101;
}
/* #endregion*/

/* #region "Yes or No" popup */
.headers {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    
}

.textAge {
  position: fixed;
  left: 30%;
    font-size: 75px;
    margin-top: 250px;
    color: blue;
}

.loadingText {
  position: fixed;
  top: 40%;
  left: 30%;
    color: red;
}

.yesBtn {
  position: fixed;
  left: 43%;
  top: 50%;
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(41, 197, 38);
    color: white;
    font-size: xx-large;
    width: 75px;
    height: 75px;
    border-radius: 18px;
}

.noBtn {
  position: fixed;
  left: 49%;
  top: 50%;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #840419;
    color: white;
    font-size: xx-large;
    width: 75px;
    height: 75px;
    border-radius: 18px;
}

.refreshBtn {
  position: fixed;
  top: 50%;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #110484;
    color: white;
    font-size: xx-large;
    width: 145px;
    height: 75px;
    border-radius: 18px;
}
/* #endregion */

/* #region Main menu + game Title */
strong {
    color: #840419;
    animation: letterR 5s ease-in-out 0s infinite normal none;
}

.gameTitle {
  position: fixed;
  left: 48%;
  top: 12%;
  font-size: 400px;
  font-family: "Kode Mono", monospace;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(203, 115, 130);
  color: rgba(255, 192, 203, 0.539);
}

.mainMenu {
  position: fixed;
        top: 37%;
        margin-left: 12%;
        text-align: center;
}

.mainButton {
    font-family: "Pixelify Sans",sans-serif;
    border: 4px solid #cb738289;
    width: 60px;
    height: 60px;
    background-color: #ffc0cb7f;
    color: #600817;
    border-radius: 16px;
    /* position: relative; */
    &:hover {
        background-color: rgba(240, 128, 128, 0.555);
        color: white;
    }
}
/* #endregion  */

/* #region "Tutorial and Credits" buttons */
/* .learnTheGame {
  position: relative;
} */

.howToPlay {
  font-family: "Kode Mono", monospace;
  position: fixed;
  top: 80%;
    background-color: #ffc0cb80;
    color: #600817;
    margin-left: 130px; 
    z-index: 5;
    
}


.appreciation {
   font-family: "Kode Mono", monospace;
  position: fixed;
  top: 80%;
    background-color: #ffc0cb80;
    color: #600817;
    margin-left: 130px;
}
/* #endregion */

/* #region After clicking "START" button */
.blackBarTop {
  width: 100%;
  height: 0px;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  opacity: 0;
  animation: slideTop 4s forwards;
}

.blackBarBottom {
  width: 100%;
  height: 0px;
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  top: 81%;
  opacity: 0;
  animation: slideBottom 4s forwards;
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

/* #endregion */

/* #region "DIALOG" Section */
.announcerGuy {
  width: 40%;
  position: fixed;
  top: 30px;
  /* z-index: -20; */
}

.announcerSlide {
  animation: announcerSlide 1s ease-in normal forwards;
}

.mainTalk {
  font-family: "Kode Mono", monospace;
  position: fixed;
  z-index: 4;
  width: 50%;
  height: 20%;
  top: 83%;
  font-size: x-large;
  color: #cf72bd;
  left: 4%;
  bottom: 95px;
}

.nextBtn {
  position: fixed;
  z-index: 4;
  left: 80%;
  top: 86%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
  animation: nextText 870ms ease 0s infinite normal none;
  &:hover {
    background-color: #ffbc00;
  }
}

.mainEnemy {
  width: 40%;
  position: fixed;
  top: 30px;
  right: 7%;
  /* z-index: -20; */
}

.enemySlide {
  animation: enemySlide 1s ease-in normal forwards;
}

.mainTalkTwo {
  position: fixed;
  z-index: 4;
  width: 50%;
  height: 20%;
  top: 83%;
  font-size: x-large;
  color: orange;
  left: 4%;
  bottom: 95px;
}

.nextBtnTwo {
  position: fixed;
  z-index: 4;
  left: 80%;
  top: 86%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  animation: nextText 870ms ease 0s infinite normal none;
  &:hover {
    background-color: #600817;
  }
}

.yesGameStart {
  position: relative;
        right: 7px;
        top: 50px;
        margin: 0;
        font-family: "Pixelify Sans", sans-serif;
        background-color: rgb(41, 197, 38);
        color: white;
        font-size: xx-large;
        width: 75px;
        height: 75px;
        border-radius: 18px;
}

.noGameStart {
          position: relative;
        left: -70px;
        top: 50px;
        margin: 0;
        font-family: "Pixelify Sans", sans-serif;
        background-color: #840419;
        color: white;
        font-size: xx-large;
        width: 75px;
        height: 75px;
        border-radius: 18px;
}

.cowardBtn {
position: fixed;
top: 55%;
right: 35%;
font-family: "Pixelify Sans", sans-serif;
    background-color: #840419;
    color: white;
    font-size: xx-large;
    width: 172px;
    height: 75px;
    border-radius: 18px;
}

.comebackBtn {
  position: fixed;
  top: 55%;
  left: 30%;
 font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(41, 197, 38);
    color: white;
    font-size: xx-large;
    width: 172px;
    height: 75px;
    border-radius: 18px;
}

/* #endregion */

/* #region "CARD DESIGN" Section */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Pixelify Sans", sans-serif;
  position: fixed;
  top: 400px;
  left: 4%;
}

.box {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  border: none;
  background: transparent;
  padding: 0;
  transition: 0.5s;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  z-index: 1;
  pointer-events: none;
}

.box::after {
  filter: blur(30px);
}

.box:hover::before,
.box:hover::after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.box:nth-child(1)::before,
.box:nth-child(1)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.box:nth-child(3)::before,
.box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.box:nth-child(4)::before,
.box:nth-child(4)::after {
  background: linear-gradient(315deg, #000000, #cf72bd);
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.box span::before,
.box span::after {
  content: '';
  position: absolute;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation: animate 2s ease-in-out infinite;
  pointer-events: none;
}

.box span::before {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: 0.1s;
}
.box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.box span::after {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  animation-delay: -1s;
}
.box:hover span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translate(-10px);
  }
}

.box .content {
  position: relative;
  z-index: 2;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
  pointer-events: auto;
  transform: scale(1.5);
}

.box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/* #endregion */

/* #region "SCORING + CARD POWER" Section */
.mainGameScores {
  visibility: visible;
  position: relative;
  top: 225px;
  z-index: -100;
}

.scoreDisplay {
  border: 5px double #840419;
  width: 130px;
  height: 125px;
  font-family: "Kode Mono", monospace;
}

 .timer {
  position: absolute;
  margin-left: 45%;
  bottom: 112px;
  z-index: 3;
}

.ifTie {
  color: rgb(65, 177, 228);
  font-family: "Jersey 10", sans-serif;
  font-size: 75px;
}

.plusOne {
  color: green;
  font-family: "Jersey 10", sans-serif;
  font-size: xxx-large;
}

.keepTrying {
  color: red;
  font-family: "Jersey 10", sans-serif;
  font-size: xxx-large;
}

.alligatorSurprise {
  color: yellow;
  font-family: "Jersey 10", sans-serif;
  animation: alligator 500ms ease 0s infinite normal none;
  font-size: xxx-large;
}

@keyframes alligator {
  0%,
  50%,
  100% {
	opacity: 1;
  }

  25%,
  75% {
	opacity: 0;
  }
}

.countdownTime {
  position: absolute;
  top: 75px;
  margin-left: 30%;
  color: mediumspringgreen;
  font-size: 100px;
  font-weight:500;
}

.playerName {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: pink;
}

.playerScore {
    color: pink;
    font-size: 50px;
}

.opponentName {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: orange;
}

.opponentScore {
    color: orange;
    font-size: 50px;
}

.gameResultText {
  position: fixed;
  left: 37%;
    font-size: 70px;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

/* #endregion */

/* #region "MUSIC" Section */
.musicButton {
    position: fixed;
    top: 8px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #600817;
    border-radius: 10px;
    background-color: #cf72bd;
    color: #600817;
    z-index: 0;
    cursor: pointer;
}


.audioScroll {
   color: #600817;
  font-style: italic;
  position: fixed;
  top: 3%;
  z-index: -1;
  animation: scrollText 5s linear infinite;
}

.musicButtonTwo {
    position: fixed;
    top: 8px;
    left: 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #cf72bd;
    color: #600817;
    cursor: pointer;
    z-index: 4;
}

.audioScrollTwo {
    color: #600817;
    position: fixed;
    font-style: italic;
    top: 15px;
    left: 0;
    z-index: 3;
    animation: scrollText 10s linear infinite;
    font-size: 20px;
}

.musicButtonThree {
    position: fixed;
    top: -1px;
    left: 94%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #cf72bd;
    color: #600817;
    cursor: pointer;
    /* z-index: 3; */
}

.audioScrollThree {
    color: yellow;
    position: fixed;
    font-style: italic;
    top: 10px;
    left: 81%;
    z-index: 4;
    animation: scrollText 5s linear infinite;
}
/* #endregion */

/* #region "NO BATTLE" Section */
.gameOver {
font-family: "Silkscreen", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100px;
position: fixed;
top: 30%;
left: 20%;
animation: theEnd 870s ease 0 infinite normal none;
}

@keyframes theEnd {
  0% {
	opacity: 0.8;
	transform: scale(0.2);
  }

  80% {
	opacity: 0;
	transform: scale(1.2);
  }

  100% {
	opacity: 0;
	transform: scale(2.2);
  }
}
/* #endregion */

/*! small section */
/* #region  */
@media only screen and (max-width: 575px) {
  /* #region Header section */
  .headers {
      /* background-color: black;
      position: fixed; */
      z-index: 3;
      /* height: 100%;
      max-height: -webkit-fill-available;    */
  }

  .loadingText {
    position: relative;  ;
    font-size: 30px;
    top: 33%;
    left: 0;
    text-align: center;
  }

  .headerMain {
    position: relative;
    top: 35%;
    /* left: 25%; */
  }

  .yesBtn {
    position: relative;
    left: 0;
    top: 50%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(41, 197, 38);
    color: white;
    font-size: xx-large;
    width: 75px;
    height: 75px;
    border-radius: 18px;
  }

.noBtn {
    position: relative;
    left: 0;
    top: 50%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #840419;
    color: white;
    font-size: xx-large;
    width: 75px;
    height: 75px;
    border-radius: 18px;
}

.textAge {
  position: fixed;
    font-size: 40px;
    margin-top: 0;
    top: 33%;
    left: 10px;
    color: blue;
}

.refreshBtn {
position: fixed;
top: 47%;
}
/* #endregion */

/* #region Background Images */
.backSmImg {
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
 }

.bubbleImg {
        position: fixed;
        z-index: -1;
        width: 100%;
        max-width: -webkit-fill-available;
 }

 .spaceImg {
   position: absolute;
    width: 100%;
    max-width: -webkit-fill-available;
    height: 100%;
    z-index: -100;
 }

.blossomImg {
  position: absolute;
    width: 100%;
    max-width: -webkit-fill-available;
    height: 100%;
    z-index: -101;
}
/* #endregion */

/* #region Main Menu options + Music */
.gameTitle {
  position: fixed;
  left: 8%;
    font-size: 150px;
    /* margin-top: 25%; */
}

.mainMenu {
  position: fixed;
  top: 37%;
  margin-left: 12%;
  text-align: center;
}

.dropdown {
  position: relative;
  top: 500px;
  white-space: normal;
  background-color: #ffc0cb80;
  text-align: center;

}

.smallPlay {
  font-family: "Kode Mono", monospace;
    position: fixed;
    top: 500px;
    background-color: #ffc0cb80;
    color: #600817;
    white-space: normal;
}

.appreciationSm {
  font-family: "Kode Mono", monospace;
    position: fixed;
    top: 500px;
    background-color: #ffc0cb80;
    color: #600817;
}

.learningTutorial, .givingCredits  {
  font-family: "Pixelify Sans", sans-serif;
  border: 4px solid #cb738289;
  width: 60px;
  height: 60px;
  background-color: #ffc0cb7f;
  color: #600817;
  border-radius: 16px;
}
/* #endregion */

/* #region Animations */
@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes scrollText {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

@keyframes announcerSlide {
  0% {
    transform: translateX(-900px);
}

100% {
    transform: translateY(145px);
}
}

@keyframes slideBottom {
    100% {border-block: 130px solid black; opacity: 1;}
}

/* #endregion */

/* #region After clicking START */
.blackBarTop {
  width: 100%;
  height: 0px;
  /* box-sizing: border-box; */
  z-index: 3;
  position: fixed;
  top: 0;
  opacity: 0;
  animation: slideTop 4s forwards;
}

.blackBarBottom {
  width: 100%;
  height: 0px;
  z-index: 3;
  position: fixed;
  top: 66%;
  opacity: 0;
  animation: slideBottom 4s forwards;
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
/* #endregion */

/* #region Dialogue section*/
.announcerGuy {
  width: 100%;
  max-width: 576px;

    position: fixed;
    /* z-index: -20; */
}
.announcerSlide {
    animation: announcerSlide 1s ease-in normal forwards;
}

.mainTalk {
    font-family: "Kode Mono", monospace;
    position: fixed;
    z-index: 4;
    width: 97%;
    height: 144px;
    top: 70%;
    font-size: 18px;
    color: #cf72bd;
    left: 2px;
    bottom: 0;
    text-align: center;
}

.nextBtn {
  position: fixed;
  z-index: 6;
  left: 42%;
  top: 90%;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
  animation: nextText 870ms ease 0s infinite normal none;
  &:hover {
    background-color: #ffbc00;
  }
}

.mainEnemy {
  width: 40%;
  position: fixed;
  top: 30px;
  right: 7%;
  /* z-index: -20; */
}

.enemySlide {
  animation: enemySlide 1s ease-in normal forwards;
}

.mainTalkTwo {
  position: fixed;
  z-index: 3;
  width: 80%;
  height: 20%;
  top: 70%;
  font-size: x-large;
  color: orange;
  left: 10%;
  bottom: 95px;
  text-align: center;
}

.nextBtnTwo {
  position: fixed;
  z-index: 4;
  left: 40%;
  top: 90%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  animation: nextText 870ms ease 0s infinite normal none;
  &:hover {
    background-color: #600817;
  }
}

.yesGameStart {
  position: relative;
  right: 70px;
  top: 50px;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: rgb(41, 197, 38);
  color: white;
  font-size: xx-large;
  width: 75px;
  height: 75px;
  border-radius: 18px;
  z-index: 7;
}

.noGameStart {
  position: relative;
  left: -70px;
  top: 50px;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #840419;
  color: white;
  font-size: xx-large;
  width: 75px;
  height: 75px;
  border-radius: 18px;
  z-index: 7;
}

.gameOver {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    position: fixed;
    top: 30%;
    left: 20%;
}    

.cowardBtn {
  position: fixed;
  top: 75%;
  right: 53%;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #840419;
  color: white;
  font-size: 15px;
  width: 100px;
  height: 75px;
  border-radius: 18px;
  z-index: 3;
}

.comebackBtn {
  position: fixed;
  top: 75%;
  left: 55%;
  font-family: "Pixelify Sans", sans-serif;
  background-color: rgb(41, 197, 38);
  color: white;
  font-size: 15px;
  width: 100px;
  height: 75px;
  border-radius: 18px;
  z-index: 3;
}

/* #endregion */

/* #region Scoring */
.mainGameScores {
    visibility: visible;
    position: relative;
    top: 225px;
    z-index: -102;
}
/* #endregion */

/* #region Music and Audio Buttons */

.musicButton {
    position: fixed;
    top: 8px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #600817;
    border-radius: 10px;
    background-color: #cf72bd;
    color: #600817;
    z-index: 2;
    cursor: pointer;
}


.audioScroll {
  position: fixed;
  /* margin-top: 209%; */
  margin-left: 15%;
  z-index: -1;
  animation: scrollText 5s linear infinite;
}

.musicButtonTwo {
    position: fixed;
    top: 8px;
    left: 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #cf72bd;
    color: #600817;
    cursor: pointer;
    z-index: 4;
}

.audioScrollTwo {
    color: #600817;
    position: fixed;
    font-style: italic;
    top: 30px;
    left: 0;
    z-index: 3;
    animation: scrollText 10s linear infinite;
    font-size: 14px;
}

.musicButtonThree {
    position: fixed;
    top: -1px;
    left: 94%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #cf72bd;
    color: #600817;
    cursor: pointer;
    /* z-index: 3; */
}

.audioScrollThree {
    color: yellow;
    position: fixed;
    font-style: italic;
    top: 10px;
    left: 81%;
    z-index: 4;
    animation: scrollText 5s linear infinite;
}

/* #endregion */

}
/* #endregion */